extends layout

block content
	.inner
		//-form.form(method="POST")
			h2 Reset Your Password
			label(for="password") Password
			input(type="password" name="password" required)
			label(for="password-confirm") Confirm Password
			input(type="password" name="password-confirm" required)
			input.button(type="submit" value="Reset Password")

		form.form-main.form-main--account.card(method="POST")
			h2 Reset Your Password
			.input-container
				input(type="password" name="password" required)
				label(for="password") Password
			.input-container
				input(type="password" name="password-confirm" required)
				label(for="password-confirm") Confirm Password
				
			input.button.submit(type="submit" value="Reset Password")