/*
  Note Form
 */
.reviewer {
  
  width: 100%;
  
  textarea {
    border: 0;
    outline: 0;
    font-size: 1.8rem;
    padding: 2rem;
    height: 150px;
    resize: none;
    font-family: 'Montserrat';
  }
  
}

